     <table>
                    
                    <tr>
                        <th>Date and Time</th>
                        <th>Info</th>
                        <th>Moisture</th>
                        <th>Water level</th>
                    </tr>
                    {{#water_me_results}}
                    <tr>
                        <td>{{date}}</td>
                        <td>{{info}}</td>
                        <td>{{moisture}}</td>
                        <td>{{water_level}}</td>
                    </tr>
                    {{/water_me_results}}
                    
                
</table>
    